<section class="user_info">
  <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
  </h1> 
</section>

<h3>フォロー一覧</h3>
<% @users.each do |user| %>
  <%= link_to user.name, user %>
  <br>
<% end %>